.codeMirror{
  height: 340px !important ;
  color: #fff;
}

.codeMirror-gutters{
  background: #1d1e22 ;
  height: 50%;
}
.codeMirror-scroll{
  background: #1d1e22 !important;
  height: 50%;
}
react-codemirror2{
  height: 50%;
}